// Tablets and Smaller
@media(max-width: 800px) {
    #header-home {
        height: 35rem;

        .header-content {
            padding-top: 5rem;
        }
    }

    #about {
        &-a {
            .about-info {
                grid-template-areas:
                    'bioImage'
                    'bio'
                    'aw1'
                    'aw2'
                    'aw3';

                .bio-image {
                    transform: scale(0.7);
                }

            }
        }
    }
}

//Smartphones
@media(max-width: 500px) {
    #main-nav {
        flex-direction: column;
        align-items: center;

        li {
            padding: 1rem;
        }
    }

    #header {
        &-home {
            height: 10rem;
            background-attachment: scroll;
            border-bottom: 3px solid $main-color;
            background-position: 20% 30%;

            .header-content {
                display: none;
            }
        }

        &-inner {
            height: 10rem;
        }
    }

    // Stack Grid Columns
    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #contact-b .contact-info,
    #items {
        grid-template-columns: 1fr;
    }

    #home {
        &-a {
            .specials div {
                border-bottom: 1px solid $light-color;
                padding-bottom: 1rem;
            }

            &:last-child {
                border: none;
                padding-bottom: 0;
            }
        }

        &-b {
            .stats div {
                padding: 2rem 0 1rem 0
            }
        }
    }

    // About
    #about {
        &-a {
            .about-info {
                grid-template-areas:
                    'bioImage'
                    'bio'
                    'aw1'
                    'aw2'
                    'aw3';

                .bio-image {
                    transform: scale(1);
                }
            }
        }
    }

    //Work
    #work {
        &-a {
            .items {
                grid-template-columns: 1fr;
            }
        }
    }

    //Contact
    #contact {
        &-a {
            .text-fields {
                grid-template-areas:
                    'name'
                    'subject'
                    'email'
                    'phone'
                    'message';
                
            }
        }

        &-b {
            .contact-info div {
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid #555;

                &:last-child {
                    border: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }

        &-c {
            h1 {
                font-size: 2rem;
            }
        }
    }

    //Footer 
    #main-footer {
        height: 7rem;

        .footer-content {
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
        }
    }
}

@media(max-height: 580px) {
    #header-home {
        .header-content {
            padding-top: 3rem;

            h1 {
                font-size: 3rem;
                line-height: 1.1;
            }
        }
    }
}

@media(max-height: 400px) and (max-width: 650px) {
    #header-home {
        .header-content {
            padding-top: 3rem;

            h1 {
                font-size: 2rem;
                line-height: 1.1;
            }
        }
    }
}